@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    width: 100%;
    background: linear-gradient(45deg,
            #FEDA75 0%,
            #FA7E1E 25%,
            #D62976 50%,
            #962FBF 75%,
            #4F5BD5 100%);
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

form {
    background-color: rgba(255, 255, 255, 0.788);
    margin: 0 auto;
    padding: 80px;
    border: 1px solid rgba(7, 7, 7, 0.5);
    border-radius: 40px;
    max-width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form h1 {
    text-align: center;
    color: rgba(5, 5, 5, 0.651);
    font-size: 3.2em;
    font-weight: 500;
    font-family: 'Poppins';
    text-shadow: 1px 1px 0px rgba(255, 253, 253, 0.137);
}

.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.login input{
    padding: 20px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
     cursor: pointer;
}

input: