@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-coffee-dark: #4A2C2A;
    /* texto, header, footer */
    --color-coffee-medium: #6F4E37;
    /* títulos, ícones */
    --color-tan: #D2B48C;
    /* fundos secundários, cards */
    --color-cream: #F5F0E6;
    /* fundo principal */
    --color-caramel: #C9A66B;
    /* botões, links, CTAs */
}

body {
    font-family: "Playfair Display", serif;
    background: #C9A66B;
}

.header-container {
    position: relative;
    padding: 20px;
    background: var(--color-coffee-dark);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between
}

.logo {
    color: #F5E6C8;
    text-shadow: 2px 2px 6px rgba(111, 78, 55, 0.8);
    font-size: 2em;
    font-weight: bolder;
    font-variant: small-caps;
    margin-left: 20px;
    margin-top: 20px;
}

.nav-bar a {
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 12px;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 6px rgba(111, 78, 55, 0.8);
    color: #f5f0e6;
}

a:hover {
    color: var(--color-tan);
}

.btn-primary {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background: var(--color-caramel);
    margin-top: 12px;
    margin-right: 10px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    box-shadow: 10px 0px 40px #d2b48c9c;
}

.btn-primary:hover {
    background: var(--color-tan);
    transform: scale(1.1);
}

.btn-primary:active {
    transform: scale(1.0);
}

.hero {
  position: relative;
  background-image: url(img/img0.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero > * {
  position: relative;
  z-index: 1;
}

.eyebtow {
    color:var(--color-tan);
    font-weight: bolder;
    margin-left: 10px;
    display: block;
}

h1 {
    color: #ffffffbb;
    font-variant: small-caps;
    margin-left: 14px;
    font-size: clamp(2rem, 5vw, 3.5rem);
}

.sub-title {
    color: #D2B48C;
    font-weight: bolder;
    margin-left: 10px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
}

.btn-secondary {
    cursor: pointer;
    color: white;
    background: var(--color-caramel);
    margin-top: 12px;
    margin-right: 10px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    box-shadow: 10px 0px 40px #d2b48c9c;
}

.btn-secondary:hover {
    background: var(--color-tan);
    transform: scale(1.1);
}

.btn-secondary:active {
    transform: scale(1.0);
}

.card{
    display:flex;
    grid-template-columns: ;
}
