@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-coffee-dark: #4A2C2A;
    /* texto, header, footer */
    --color-coffee-medium: #6F4E37;
    /* títulos, ícones */
    --color-tan: #D2B48C;
    /* fundos secundários, cards */
    --color-cream: #F5F0E6;
    /* fundo principal */
    --color-caramel: #C9A66B;
    /* botões, links, CTAs */
}

body {
    font-family: "Playfair Display", serif;
    background: #C9A66B;
}

header{
    background: var(--color-coffee-dark);
    padding:35px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-box{
    background: url(img/img0.png);
}