* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-coffee-dark: #4A2C2A;
    /* texto, header, footer */
    --color-coffee-medium: #6F4E37;
    /* títulos, ícones */
    --color-tan: #D2B48C;
    /* fundos secundários, cards */
    --color-cream: #F5F0E6;
    /* fundo principal */
    --color-caramel: #C9A66B;
    /* botões, links, CTAs */
}

.header-container{
    
    padding: 20px;
    background: #4A2C2A;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between
}

.header-container .logo{
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 20px;
}

.nav a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
   margin-left: 20px;
   font-size: 20px;

}
