@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-coffee-dark: #4A2C2A;
    /* texto, header, footer */
    --color-coffee-medium: #6F4E37;
    /* títulos, ícones */
    --color-tan: #D2B48C;
    /* fundos secundários, cards */
    --color-cream: #F5F0E6;
    /* fundo principal */
    --color-caramel: #C9A66B;
    /* botões, links, CTAs */
}

body {
    font-family: "Playfair Display", serif;
}

.header-container {
    padding: 20px;
    background: var(--color-coffee-dark);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between
}

.logo {
    color: #F5E6C8;
    text-shadow: 2px 2px 6px rgba(111, 78, 55, 0.8);
    color: #c98c61;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 20px;
}

.nav-bar a {
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 12px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(111, 78, 55, 0.8);
    color: #f5f0e663;
}

a:hover {
    color: var(--color-tan);
}

.btn-primary{
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;

}