@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),url(img/hack.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    font-size: 2rem;
    color: #ff1d1d;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0,0,15px rgba(255,0,0,.7);
}

form {
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(0,0,0,.40);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,0,0,.4);
    box-shadow: 0 0 15px rgba(255,0,0,.35) 0 0 40px  rgba(255,0,0,.15);
}

input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgba(255,0,0,.35);
    background: rgba(255,255,255,.05);
    color: white;
    outline: none;
    transition: .35s;
}


input:focus {
    border-color: #ff0000;
    background: rgba(255,0,0,.08);
    box-shadow: 0 0 12px rgba(255,0,0,.6);
}

input::placeholder {
    color: #b4b4b4;
}

.label {
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
    color: #d6d6d6;
    font-size: .95rem;
}

.btn {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, #b30000, #ff0000);
    transition: .35s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(255,0,0,.7, green, blue, alpha);
}

.btn:active {
    transform: scale(0.97);
}