* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-coffee-dark: #4A2C2A;
    /* texto, header, footer */
    --color-coffee-medium: #6F4E37;
    /* títulos, ícones */
    --color-tan: #D2B48C;
    /* fundos secundários, cards */
    --color-cream: #F5F0E6;
    /* fundo principal */
    --color-caramel: #C9A66B;
    /* botões, links, CTAs */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(3, 3, 3, 0.315);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: var(--color-coffee-dark);
    color: var(--color-cream);
    position: sticky;
    top: 0;
    z-index: 10px;
}

